.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
output/
karnak profile/
data/
tests/
docs/
.pytest_cache/
.ruff_cache/
.git/
.gitignore
.idea/
.vscode/
*.log
.DS_Store